.input {
	position: relative;
	text-align: center;
	margin: auto;
	margin-bottom: 15px;
}

.container {
	height: 600px;
	width: 600px;
	position: relative;
	font-size: 0;
	margin: auto;
	margin-top: 20px;
	padding: 0;
	border: none;
	outline: 3px solid black;
}

.cell {
	margin: 0;
	padding: 0;
	border: none;
	outline: 1px solid black;
	display: inline-block;
	font: bold 48px sans-serif;
	text-align: center;
	vertical-align: top;
}